.header {
  background-color: #a0a0a0;
  color: black;
  display: flex;                  
  justify-content: space-between;  
  align-items: center;             
  padding: 20px 50px;
}


.logo {
  display: flex;
  flex-direction: column;          
  justify-content: center;
  align-items: flex-start;         
  line-height: 1.1;                
}

.logo h1 {
  margin: 0;
  font-size: 32px;
  letter-spacing: 2px;
}

.logo p {
  margin: 0;
  font-size: 14px;
}


.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  text-decoration: underline;
}

.nav img {
  width: 24px;
  height: 24px;
}

.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.header nav a:hover {
  text-decoration: underline;
}