* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 40px 50px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 340px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  color: #222;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


button {
  width: 100%;
  background-color: #BA8E58;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

button:hover {
  opacity: 0.85;
}

.login-link {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #BA8E58;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
